include mixins.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href='css/libs/swiper-bundle.min.css')
        link(href='css/styles.min.css', rel='stylesheet')
        link(rel="icon" href="fic.svg" type="image/svg+xml")
        title #{title}
        script(src='js/swiper-bundle.min.js' defer)
        script(src='js/anime.min.js' defer)
        script(src='js/main.js' defer)

    body
        include svg.pug
        block modal
        include ../block/backdrop.pug
        include ../block/burger-menu.pug
        .wrapper 
            block header
                include header.pug
            block content 
            block footer
                include footer.pug