include ../layout/mixins.pug

.search-item
    .search-item__header
        .search-item__path 
            span Путь:
            include bread
        small Изменен: 09.15.2020
    a.search-item__title(href="#") Коврик 150*230см латекс основа Velvet Vortex 22455 для <b>спальни</b>
    p.search-item__descr .. Для использования внутри и снаружи помещения. Ковер защищает пол от влаги и загрязнений, не скользит, идеальный вариант для гостиной, <b>спальни</b>, холла ...